pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
.hljs {
  background: #fff;
  color: #000;
}
.hljs-comment  {
  font-style: italic;
  color: green;
}
.hljs-quote,
.hljs-variable {
  font-style: italic;
  color: green;
}
.hljs-built_in,
.hljs-keyword,
.hljs-name,
.hljs-selector-tag,
.hljs-tag {
  color: #0055B8;
}
.hljs-addition,
.hljs-attribute,
.hljs-literal,
.hljs-section,
.hljs-string,
.hljs-template-tag,
.hljs-template-variable,
.hljs-title,
.hljs-type {
  color: #a31515;
}
.hljs-deletion,
.hljs-meta,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #2b91af;
}
.hljs-doctag {
  color: grey;
}
.hljs-attr {
  color: red;
}
.hljs-bullet,
.hljs-link,
.hljs-symbol {
  color: #8a2be2;
  font-weight: bold;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 700;
}
